.grid-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0,5fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}