
@media screen and (max-width: 1200px){

    .sections{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .hero{
        width: 100%;
    }
}



@media screen and (max-width: 578px){

    .hero{
        flex-direction: column;
    }

    .contactoform{
        h1{
            font-size: 30px;
        }
    }

    .sections{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card{
        margin: 15px;
    }

    .ubicaciones {
        > div{
            flex-direction: column;
            align-items: center;
            div{
                margin: 15px;
            }
        }
    }

    .footer{
        flex-direction: column;
    }

    .redes{
        flex-direction: column;
        a{
            img{
                width: 55px ;
        height: 55px;
            }  
        }
    }
}