$mapas: (1px solid white);

@each $map in $mapas {
    mapas-#{map}{
        border:$map;
    }
}


$logofooter:(
    width:200px,
    height:200px,
);


@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1{
    font-size: 60px;
    color: beige;
}

